@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'VT323', monospace;
    font-size: 32px;
    color: black;
}

.hidden {
    display: none;
}

body {
    background: url('sprite/bg.gif');
    background-size: cover;
}

.main {
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 0 4rem;
}

aside {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 2rem;
    text-align: center;
    flex-direction: column;
    
}

.scoreboard {
    text-align: left;
    width: 100%;
    padding: 1rem;
    box-shadow:   -15px 0 0 0 white,
                 15px 0 0 0 white,
                 0 -15px 0 0 white,
                 0 15px 0 0 white;
}

ol {
    margin-left: 1.5rem;
}

.logo {
    width: 320px;
    margin-bottom: 2rem;
}

h3 {
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: 5px;
    margin-bottom: 0.5rem;
}


.canvas1 {
    /* olof tillfällig */
    /* margin-left: 5rem; */

    position: relative;
    width: 1200px;
    height: 800px;
    border: 1px solid black;
    background: url(sprite/water9.png);
    box-shadow:   -15px 0 0 0 white,
                 15px 0 0 0 white,
                 0 -15px 0 0 white,
                 0 15px 0 0 white;
}

.canvas1 .info {
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 999;
}